body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);

}

input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #004150;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.result, .advice {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}